.card-container {
  width: 240px; /* Adjust width as needed */
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden; /* Ensures nothing spills out of the card */
  margin: 16px; /* Space between cards */
  transition: transform 0.3s; /* Smooth transformation on hover */
}

.card-img-container {
  width:100%;
  height: 20rem;
}

.card-img{
  width:100%;
  height:100%;
  object-fit: contain;
 position: center center;
}

.card-details {
  color: #eee;  /* Light gray for better readability */
  display: flex;
  flex-direction: column;
  gap: 4px; /* Reduced gap */
  padding: 1rem; /* Reduced padding */
}
.title {
  font-size: 1.5rem; /* Slightly larger */
  font-weight: bold; /* Make title bold */
}
.ratings {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem; /* Smaller font size for less important info */
}