.card-container {
  width: 240px; /* Adjust width as needed */
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden; /* Ensures nothing spills out of the card */
  margin: 16px; /* Space between cards */
  transition: transform 0.3s; /* Smooth transformation on hover */
}
.card-container:hover {
  transform: scale(1.05); /* Slight enlargement on hover */
}
/* Image container */
.card-img-container {
  width: 100%;
  height: 340px; /* Adjust height based on your images aspect ratio */
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area */
}

/* Details section within the card */
.card-details {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent layer */
}

.title {
  font-size: 18px; /* Larger font size for titles */
  font-weight: bold;
  margin-bottom: 5px; /* Space between title and genre */
}

.genre {
  font-size: 14px; /* Smaller font size for genre */
  color: var(--primary-color); /* Different color for emphasis */
  margin-bottom: 10px; /* Space between genre and ratings */
}

.ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratings span {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 2px 6px;
  border-radius: 5px; /* Small rounded corners for pill-like shapes */
  font-size: 14px;
}