.header {
  display: flex;
  justify-content: left;
  padding: 1rem;
  z-index: 1;
}

.main{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 6rem 2rem 2rem 6rem;
}

/* TODO: make carousel design RESPONSIVE */

.carousel-control-prev {
  transform: translateX(-190px); /* Oddialenie doľava */
}

.carousel-control-next {
  transform: translateX(190px); /* Oddialenie doprava */
}



/* Move custom Styles from Header.css HERE */
